/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Default font family */
}

.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the background image fully covers the hero section */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; /* Make the hero content fill the entire width */
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #36D7B7;
}

.about-section,
.skills-section,
.experience-section,
.projects-section,
.education-section,
.certifications-section,
.footer {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer a {
    color: #fff;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        margin-top: 20px;
    }

    .navigation ul {
        flex-direction: column;
    }

    .navigation li {
        margin: 10px 0;
    }

    .hero-content {
        width: 90%;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }
}
