/* General reset and body styling */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  height: 100%;
  overflow-x: hidden;
}

/* Hero Section */
.hero {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 0 0 20px #36d7b7;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 10px;
  text-shadow: 0 0 10px #00ffcc;
}

.clock {
  font-size: 48px;
  margin-top: 20px;
  text-shadow: 0 0 10px #00ffcc;
}

/* Icon Navbar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

/* Responsive navbar */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Section Styling */
.section-container {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
}

h2 {
  font-size: 2.5rem;
  color: #00ffcc;
  text-align: center;
  margin-bottom: 20px;
}

/* Gallery Styling */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery {
  border: 1px solid #ccc;
  width: 180px;
  transition: border 0.3s ease-in-out;
}

.gallery:hover {
  border: 1px solid #36d7b7;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #00ffcc;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 -2px 10px rgba(0, 255, 204, 0.5);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .clock {
    font-size: 32px;
  }

  .section-container {
    padding: 20px;
  }
}
